body{
    font-family: Roboto;
}

img{
    width: 50vh;
}

main{
    margin-left: 40%;
    width:50vh;
    border: 2px solid rgba(57, 56, 56, 0.796);
    border-radius: 1%;
}

main div{
    display: flex;
    flex:1;
}

main div button{
    flex-grow: 1;
    padding:10px;
    border: none;
    border-radius: 5%;
    font-family:Roboto;
}

h3{
    border: 1px solid rgba(57, 56, 56, 0.796);
    border-left-width: 0;
    border-right-width: 0;
    margin: 0;
    padding:5px;
}

p{
    padding:5px;
    margin: 0;
}

h2{
    padding:5px;
    margin-top: 2px;
    margin-bottom: 5px;
}

h1{
    padding:5px;
    margin: 0;
    margin-top: 2px;
}

#player1{
    background-color: #F57D1F;
}

#player2{
    background-color: #EBF400;
}

#reset{
    background-color: #F72798;
}

main div button:hover {
    filter: brightness(1.2);
    background-color: inherit; 
    color: #333; 
    cursor:pointer;
}

body {
    background-image: url('bgimg4.avif');
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: #f0f0f0;
}

select {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    padding: 10px;
    border: 1px solid rgba(57, 56, 56, 0.796);
    border-radius: 5px;
    outline: none;
    background: transparent;
    color: #333;
}

select:hover {
    border-color: #aaa;
}

select:focus {
    border-color: #555;
    box-shadow: 0 0 5px rgba(85, 85, 85, 0.5);
}
